<script>
  const pdfFiles = Object.keys(import.meta.glob('/public/assets/writing/*.pdf')).map(fp => fp.replace('/public', ''))
  const jpgFiles = Object.keys(import.meta.glob('/public/assets/writing/*.jpg')).map(fp => fp.replace('/public', ''))
  const pdfMap = pdfFiles.reduce((acc, f) => ({...acc, [f]: jpgFiles.find(fn => fn.includes(f.split('.')[0])) }), {})
  const allUrls = [null, ...pdfFiles, null]

  let index = 1
  $: leftDisabled = index === 1
  $: rightDisabled = index === allUrls.length - 2
</script>

<div class="carousel">
  <div class="arrow-left" disabled={leftDisabled} on:click={() => !leftDisabled && index--}></div>
  <div class="images">
    {#each allUrls.slice(index-1, index+2) as url, i (url)}
      <a
        class="image-container"
        class:unselected={i!==1}
        class:empty={url === null}
        href={url} target="_blank">
        {#if url}
          <img src={pdfMap[url]} alt="writing sample" />
          <h3>{url.replace('.pdf', '').split('/').pop()}</h3>
        {/if}
      </a>
    {/each}
  </div>
  <div class="arrow-right" disabled={rightDisabled} on:click={() => !rightDisabled && index++}></div>
</div>


<style>
  .carousel {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 100%;
    margin-top: 1em;
  }

  .images {
    display: flex;
    align-content: center;
    width: 60rem;
    overflow: hidden;
  }

  .image-container {
    flex: 0 1 300px;
    margin: 0.5rem;
    cursor: pointer;
    color: black;
    text-decoration: none;
  }

  .empty {
    cursor: none;
    visibility: hidden;
  }

  .image-container:hover {
    transform: scale(1.02);
  }

  img {
    object-fit: cover;
    width: 300px;
    height: 400px;
    border-style: solid;
    border-width: 5px;
    border-color: #FAF3DD;
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 80px solid #D5D6D7;
    align-self: center;
  }

  .arrow-right:hover {
    border-left: 80px solid #FAB3A9;
  }

  .arrow-right[disabled="true"] {
    pointer-events: none;
  }

  .arrow-left {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 80px solid #D5D6D7;
    align-self: center;
  }

  .arrow-left[disabled="true"] {
    pointer-events: none;
  }

  .arrow-left:hover {
    border-right: 80px solid #FAB3A9;
  }

  .unselected {
    transform: scale(0.7);
  }

  .unselected:hover {
    transform: scale(0.72);
  }

</style>
