<script>
  export let images;
  let shrunk = false;

</script>

<div class="image-grid" class:shrunk>
  <div class="images" class:shrunk>
    {#if shrunk}<div class="arrow-left" on:click={() => shrunk = false} />{/if}
    {#each images as {src, label}}
      <div class="image-holder" class:shrunk on:click={() => shrunk = true}>
        <img {src} alt="collaboration" class:shrunk />
        <p>{label}</p>
      </div>
    {/each}
  </div>
  <div class="side-content" class:shrunk={!shrunk}>

  </div>
</div>

<style>

  .image-grid {
    display: grid;
    grid-template-columns: 1fr 0;
    place-items: center;
  }

  .image-grid.shrunk {
    grid-template-columns: auto auto;
  }

  .side-content {
    width: 80vw;
  }

  .side-content.shrunk {
    width: 0px;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2rem;
    place-items: center;
    margin-right: 2vw;
    margin-left: 2vw;
    height: 67vh;
    width: 100%
  }

  .images.shrunk {
    grid-template-columns: 1fr;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }

  .images.shrunk::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  .image-holder.shrunk {
    width: 140px;
  }

  .image-holder {
    background-color: #D9C5B2;
    padding: 0.5rem;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
  }

  .image-holder:hover {
    transform: scale(1.01);
  }

  img {
    border-radius: 1rem;
    width: inherit;
    height: 160px;
  }

  img.shrunk {
    height: 80px;
  }

  p {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }

  .arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #D5D6D7;
    cursor: pointer;
  }

  .arrow-left:hover {
    border-right: 20px solid #FAB3A9;
  }

</style>
