<script>
  import { Image } from 'svelte-responsive-images'
  import Router, { link, location } from 'svelte-spa-router'
  import { fly } from 'svelte/transition';

  import About from './pages/About.svelte'
  import Collaborations from './pages/Collaborations.svelte'
  import WebDesign from './pages/WebDesign.svelte'
  import Writing from './pages/Writing.svelte'
  import VisualArt from './pages/VisualArt.svelte'
  import Video from './pages/Video.svelte'
  import PhysicalDesign from './pages/PhysicalDesign.svelte'

  const buttons = [
    {
      label: "About",
      href: "/about",
      component: About
    },
    {
      label: "Collaborations",
      href: "/collab",
      component: Collaborations
    },
    {
      label: "Web design",
      href: "/web",
      component: WebDesign
    },
    {
      label: "Writing",
      href: "/writing",
      component: Writing
    },
    {
      label: "Visual art",
      href: "/art",
      component: VisualArt
    },
    {
      label: "Video",
      href: "/video",
      component: Video
    },
    {
      label: "Physical design",
      href: "/physical",
      component: PhysicalDesign
    },
  ]

  const routes = {
    '/': About,
    ...buttons.reduce((acc, button) => ({...acc, [button.href]: button.component}), {})
  }

</script>

<main>

<header>
  <div id="banner-container">
    <Image src="banner" />
  </div>
  <nav>
    {#each buttons as button}
    <a class="nav-button" class:nav-button-selected={$location === button.href} href={button.href} use:link>{button.label}</a>
    {/each}
  </nav>
</header>

<article>
  <Router {routes} />
</article>

  <footer>

  </footer>
</main>


<style>
  :global(body) {
    padding: 0px;
    min-height: 100vh;
    display: flex;
    margin: 0px;
    color: #14110F;
    transition: all 0.2s ease-in-out;
  }

  main {
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Lora', serif;
  }

  header {
    background-color: #14110f;
    padding-top: 1em;
  }

  article {
    /* padding: 0.5rem; */
    background-color: #F3F3F4;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer {
    background-color: #7E7F83;
    min-height: 4em;
  }

  #banner-container {
    max-height: 15em;
    max-width: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto
  }

  nav {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
    /* overflow-x: hidden; */
    overflow-y: hidden;
  }

  .nav-button {
    height: 2.5em;
    line-height: 2.5em;
    width: 10em;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 5px 0 5px;
    background-color: #24211E;
    color: #F3F3F4;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: 0.9rem;
  }

  .nav-button:hover {
    background-color: #14110f;
    transition: all 0.1s ease-in-out;
    transform: scaleX(1.05);
    color: #F3F3F4;
  }

  /* .nav-button:focus,  */
  .nav-button-selected {
    outline: none;
    transform: scaleX(1.1);
    color: #FAB3A9;
    background-color: #14110f;
  }


  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
</style>
